html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100% !important;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f9fafb;
}

#root {
  display: flex;
  flex-direction: column;
}